body {
    font-family: Arial;
    background: #0f172a;
    color: white;
    text-align: center;
}

.container {
    width: 80%;
    margin: auto;
}

.question {
    margin: 20px 0;
}

input {
    padding: 5px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
}

.result {
    background: #1e293b;
    padding: 20px;
    margin-top: 20px;
}
